<h3>Calculadora Basica</h3>
<p>Digite um numero: <input type="number" #input_element1 ></p>
<p>Digite um numero: <input type="number" #input_element2></p>
<input type="reset" value="Reset">
<button (click)="sub(input_element1.valueAsNumber	, input_element2.valueAsNumber)">Subtrair</button>
<button (click)="somar(input_element1.valueAsNumber	, input_element2.valueAsNumber)">Somar</button>
<button (click)="mult(input_element1.valueAsNumber	, input_element2.valueAsNumber)">Multiplicar</button>
<button (click)="div(input_element1.valueAsNumber	, input_element2.valueAsNumber)">Dividir</button>
<p>{{txt}}</p>